<% layout('layouts/boilerplate') %>

    <h3>Welcome to StayHub Listings</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% allListings.forEach(listing => { %>
        <a class="listing-link" href="/listings/<%= listing._id %>">
        <div class="card col">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b><br>
                    $<%= listing.price.toLocaleString("en-US") %> / night<br>
                </p>
            </div>
        </div>
        </a>
        <% }) %>
    </div>
     

